.clock-day:before {
  content: var(--timer-day);
}
.clock-hours:before {
  content: var(--timer-hours);
}
.clock-minutes:before {
  content: var(--timer-minutes);
}
.clock-seconds:before {
  content: var(--timer-seconds);
}
.d-flex{
  display: flex;
}
body {
  background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
  font-family: 'Montserrat', 'sans-serif';
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.clock-container {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #080808;
  border-radius: 5px;
  padding: 60px 20px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, .15), 0 15px 90px 30px rgba(0, 0, 0, .25);
  display: flex;
  align-items: center;
}
.clock-col {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  min-width: 90px;
  position: relative;
}
.clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
  content: "";
  background-color: rgba(255, 255, 255, .3);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -42px;
}
.clock-col:not(:last-child):before {
  top: 35%;
}
.clock-col:not(:last-child):after {
  top: 50%;
}
.clock-timer:before {
  color: #fff;
  font-size: 4.2rem;
  text-transform: uppercase;
}
.clock-label {
  color: rgba(255, 255, 255, .35);
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 10px;
}
.alarm-icon img{
  width: 60px;
  height: 60px;
  margin: 0 20px 0 0 ;
  opacity: .35;
}
.modal-container{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #080808;
  border-radius: 5px;
  padding: 60px 60px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, .15), 0 15px 90px 30px rgba(0, 0, 0, .25);
  display: flex;
  align-items: flex-start;
  color: #fff;
  font-family: 'Montserrat', 'sans-serif';
}
#alarm-modal{
  display: none;
}
.close{
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-size: 25px;
  border: none;
  border-radius:5px;
  transition: ease-in-out .1s;
  background-color:rgb(238, 86, 86) ;
  color: white;
}
.close:hover{
  transform: scale(1.2);
}
.modal-wrapper{
  display: flex;
  flex-direction: column;
}
.modal-wrapper h2{
  font-size: 50px;
  font-weight: 400;
}
.input-group label{
  font-size: 25px;
  margin: 0 0 30px 0;
}
.input-group input{
  width: 300px;
  height: 35px;
  border: none;
  font-size: 20px;
  margin: 0 0 30px 0;
}
.button-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-group button{
  width: 140px;
  height: 40px;
  font-size: 20px;
  transition: ease-in-out .1s;
}
.button-group button:hover{
  transform: scale(1.2);
}

@media (max-width: 825px) {
  .clock-container {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
 }
 .d-flex{
  flex-direction: column;
 }
  .clock-col + .clock-col {
    margin-top: 20px;
 }
  .clock-col:before, .clock-col:after {
    display: none !important;
 }
 .alarm-icon img{
  margin: 20px 0 0 0 ;
}
}
